{% extends "AppEntre2/padre.html" %}


{% load static %}


{% block titulo %}

Reservas en Argentina

{% endblock %}


{% block descripcion %}

<p style="color: aqua;">Esta es una pagina de Reservas Naturales</p>

<form action="/resultadoreserva/" method="GET">


    <input type="text" name="reserva" id="reserva">

    <input type="submit" value="Buscar">



</form>

    

<p style="color:greenyellow ;">Estamos buscando la reserva = {{nombre}}</p>    

{% for cant_especies in cant_especies %}


    <p style="color:yellow ;">Reserva: {{cant_especies.nombre}} ---- Especies: {{cant_especies.cant_especies}} ----- Ubicacion: {{cant_especies.ubicacion}}</p> 



{% endfor %}


{% endblock %}